body {
	background-color: #E9EBEE;
	font-family: helvetica, arial, sans-serif;
}

.text-span {
	color: #365899;
}

.fa-facebook {
	margin: 18px;
}

.foto {
	margin-top: 5px;
}

.btn {
	font-size: 12px!important;
	padding: 0 1rem;
}

.btn-publicar {
	background-color: #4267b2;
	border-color: #365899;
}

.btn-publicar:hover {
	background-color: #365899;
}

.btn-publicar:focus {
	background-color: #365899;
}

.btn-amigos {
	background-color: #E9EBEE;
	border-color: #ced0d4;
	color: #4b4f56;
	float: right;
}

.btn-amigos:hover {
	background-color: #365899;
	color: white;
}

.btn-amigos:focus {
	background-color: #365899;
	color: white;
}

.tachar {
	text-decoration-line: line-through;
}


/* Manipulando Text Area */

textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 0px solid #26a69a;
	box-shadow: 0 0px 0 0 #26a69a;
}

textarea {
	border-bottom: 0px solid #9e9e9e !important;
}